@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 41%, 43%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px; /* الحجم المطلوب في الـ Style Guide */
  font-weight: 400; /* الوزن الافتراضي للفقرات */
  color: var(--stone-900); /* غالبا ده لون النص الأساسي */
  background-color: var(--stone-100); /* لون الخلفية الافتراضي المتوقع */
  height: 100dvh;
}

h1,
h2,
h3,
h4 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--brown-800); /* أو Stone 900 حسب شكل التصميم قدامك */
}

h2,
h3,
h4 {
  font-size: 22px;
}
